:root {
    --hover-color: var(--mantine-color-purple-4);
    --active-color: var(--mantine-color-purple-6);
    --disabled-color: var(--mantine-color-grey-6);
    --mantine-breakpoint-sm: 48em;
}

.poppins {
    font-family: var(--font-poppins);
}

.inter {
    font-family: var(--font-inter);
}

$activeOption: "[data-combobox-active='true']";

#{$activeOption} {
    background: var(--mantine-color-purple-filled);
    color: #fff;
}

.mantine-Select-option,
.mantine-Combobox-option {
    display: flex;
    align-items: center;

    &:hover {
        background: var(--mantine-color-purple-1);
        color: #000;
    }

    &#{$activeOption}:hover {
        background: var(--mantine-color-purple-filled);
        color: #fff;
    }
}

.dropdown-arrow {
    stroke: var(--mantine-color-grey-filled);
}

[data-expanded='true'] + .mantine-Select-section,
.dropdown-arrow-opened {
    &.dropdown-arrow,
    .dropdown-arrow {
        stroke: var(--mantine-color-purple-filled);
        transform: rotate(180deg);
    }
}

.filled-button {
    &:hover {
        background: var(--hover-color);
    }

    &:active {
        background: var(--active-color);
    }
}

.transparent-button {
    &:hover {
        color: var(--hover-color) !important;
    }

    &:active {
        color: var(--active-color) !important;
    }

    &:disabled {
        color: var(--disabled-color) !important;
    }
}

a:not(.no-underline):hover {
    text-decoration: underline;
}
